@charset "UTF-8";

/*------------------------
[TABLE OF CONTENTS created by Mike Lepcsik for CIB]
    
1. GLOBAL STYLES
1.1. BTN
2. NAVBAR
3. HEADER

10. FOOTER
11. COPYRIGHT
12. To Top Button
------------------------*/

/* -------------------
1. GLOBAL STYLES
----------------------*/

@charset "UTF-8";

body {
    font-family: 'Segoe UI Local', 'Segoe UI Web (West European)'
}

body:not(:root) {
    font-family: 'Segoe UI Web (West European)'
}

body {
    overflow: inherit !important
}

.nooutline {
    outline: none;
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Light');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Semilight');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Local';
    src: local('Segoe UI Semibold');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2) format('woff2'), url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff) format('woff');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2) format('woff2'), url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff) format('woff');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2) format('woff2'), url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Web (West European)';
    src: url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2) format('woff2'), url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal
}

.section {
    padding: 100px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 62px;
}

.light-bg {
    background-color: #f5f8fb;
}

.light-blue-bg {
    background-color: #e5eef3;
}

.dark-bg {
    background-color: #586371;
}

a {
    color: #E11E19
}

a {
    line-height: 2.2em;
    font-size: 14px;
    color: #96a0a5;
}

@media (min-width:1025px) {
    a:hover {
        color: #E11E19
    }
}

[v-cloak] {
    display: none
}

a:focus {
    color: #E11E19
}

.mailto {
    color: #E11E19
}

.mailto:hover {
    color: #212934
}

h1 {
    color: #212934;
    font-size: 2.8rem;
    margin-bottom: 0rem;
}

h2 {
    color: #212934;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: -.0625rem;
    line-height: 3.125rem;
    margin-bottom: 0
}

h3 {
    font-size: 22px;
    font-weight: 400 !important;
    color: #212934;
    line-height: 34px;
    margin-bottom: 0rem;
}

h4 {
    font-size: 28px;
    font-weight: 400 !important;
    color: #212934;
    line-height: 34px;
}

h5 {
    font-size: 18px;
    font-weight: 300;
    color: #E11E19;
    margin-bottom: .7rem
}

.section-last {
    padding-top: 100px;
}

/* 1.a. General MEDIA
----------------------*/
@media (max-width:992px) {
    h2 {
        color: #212934;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: -.0625rem;
        line-height: 2.8rem;
        margin-bottom: 0
    }

    h3 {
        font-size: 22px;
        font-weight: 400 !important;
        color: #212934;
        line-height: 30px;
        margin-bottom: 0rem;
    }

    h4 {
        font-size: 24px;
        font-weight: 400 !important;
        color: #212934;
        line-height: 34px;
    }
}

@media (max-width:1400px) {}

@media (min-width:1400px) {}

/* -------------------
1.1. BTN
----------------------*/

.btn {
    font-size: 24px;
    font-weight: 400;
    transition: all .3s ease;
    width: 200px;
    height: 57px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 42px;
    border-radius: 6px
}

.btn-pointer {
    cursor: pointer;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: unset;
}

.btn-CTA1 {
    font-size: 14px;
    font-weight: 600;
    width: 150px;
    height: 40px;
    line-height: 38px;
    background-color: #E11E19;
    border-color: #E11E19;
    color: #fff;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
}

.btn-CTA1:focus {
    color: #fff
}

.btn-CTA1:visited {
    background-color: #E11E19;
    border-color: #E11E19;
    color: #fff;
    cursor: pointer;
}

.btn-CTA1:active {
    background-color: #E11E19;
    border-color: #E11E19;
    cursor: pointer;
}

.btn-CTA1-white {
    background-color: #fff;
    border-color: #E11E19;
    cursor: pointer;
    color: #E11E19 !important;
}

.btn-CTA1:hover {
    background-color: #C60006;
    border-color: #C60006;
    color: #fff!important;
    cursor: pointer;
}

.btn-CTA2 {
    font-size: 18px;
    width: 200px;
    height: 50px;
    line-height: 46px;
    background-color: #E11E19;
    border-color: #E11E19;
    color: #fff;
    cursor: pointer;
    margin-top: 10px !important;
}

.btn-CTA2:focus {
    color: #fff
}

.btn-CTA2:visited {
    background-color: #E11E19;
    border-color: #E11E19;
    color: #fff;
    cursor: pointer;
}

.btn-CTA2:active {
    background-color: #E11E19;
    border-color: #E11E19;
    cursor: pointer;
}

.btn-CTA2:hover {
    background-color: #C60006;
    border-color: #C60006;
    color: #fff!important;
    cursor: pointer;
}

.btn-CTA2-gray {
    font-size: 18px;
    width: 200px;
    height: 50px;
    line-height: 46px;
    background-color: #fff;
    border-color: #E11E19;
    color: #E11E19;
    cursor: pointer;
}

.btn-CTA2-gray:focus {
    color: #E11E19
}

.btn-CTA2-gray:visited {
    background-color: #fff;
    border-color: #E11E19;
    color: #E11E19;
    cursor: pointer;
}

.btn-CTA2-gray:active {
    background-color: #E11E19;
    border-color: #E11E19;
    cursor: pointer;
}

.btn-CTA2-gray:hover {
    background-color: #E11E19;
    border-color: #E11E19;
    color: #fff!important;
    cursor: pointer;
}

/*ButtonGreen(pdfbrewer)*/

.btn-CTA2-green {
    font-size: 18px;
    width: 200px;
    height: 50px;
    line-height: 46px;
    background-color: #a7cfb6;
    border-color: #a7cfb6;
    color: #fff;
    cursor: pointer;
}

.btn-CTA2-green:focus {
    color: #fff
}

.btn-CTA2-green:visited {
    background-color: #a7cfb6;
    border-color: #a7cfb6;
    color: #fff;
    cursor: pointer;
}

.btn-CTA2-green:active {
    background-color: #a7cfb6;
    border-color: #a7cfb6;
    cursor: pointer;
}

.btn-CTA2-green:hover {
    background-color: #fff;
    border-color: #a7cfb6;
    color: #a7cfb6!important;
    cursor: pointer;
}

.btn-CTA2-green-white {
    font-size: 18px;
    width: 200px;
    height: 50px;
    line-height: 46px;
    background-color: #fff;
    border-color: #a7cfb6;
    color: #a7cfb6;
    cursor: pointer;
}

.btn-CTA2-green-white:focus {
    color: #a7cfb6
}

.btn-CTA2-green-white:visited {
    background-color: #fff;
    border-color: #a7cfb6;
    color: #a7cfb6;
    cursor: pointer;
}

.btn-CTA2-green-white:active {
    background-color: #a7cfb6;
    border-color: #a7cfb6;
    cursor: pointer;
}

.btn-CTA2-green-white:hover {
    background-color: #a7cfb6;
    border-color: #a7cfb6;
    color: rgb(165, 150, 150)!important;
    cursor: pointer;
}

.btn-CTA3 {
    font-size: 18px;
    width: 200px;
    height: 50px;
    line-height: 46px;
    background-color: #E11E19;
    border-color: #E11E19;
    color: #fff!important;
    cursor: pointer;
}

.btn-CTA3:focus {
    color: #fff
}

.btn-CTA3:visited {
    background-color: #E11E19;
    border-color: #E11E19;
    color: #fff;
    cursor: pointer;
}

.btn-CTA3:active {
    background-color: #E11E19;
    border-color: #E11E19;
    cursor: pointer;
}

.btn-CTA3:hover {
    background-color: #C60006;
    border-color: #C60006;
    color: #fff!important;
    cursor: pointer;
}

.btn-CTA3-gray {
    font-size: 18px;
    width: 200px;
    height: 50px;
    line-height: 46px;
    background-color: #fff;
    border-color: #fff;
    color: #E11E19;
    cursor: pointer;
}

.btn-CTA3-gray:focus {
    color: #E11E19
}

.btn-CTA3-gray:visited {
    background-color: #fff;
    border-color: #fff;
    color: #E11E19;
    cursor: pointer;
}

.btn-CTA3-gray:active {
    background-color: #E11E19;
    border-color: #E11E19;
    cursor: pointer;
}

.btn-CTA3-gray:hover {
    background-color: #E11E19;
    border-color: #E11E19;
    color: #fff!important;
    cursor: pointer;
}

.btn-CTA4-white {
    font-size: 16px;
    width: 380px;
    height: 40px;
    line-height: 36px;
    background-color: #fff;
    border-color: #E11E19;
    color: #E11E19;
    cursor: pointer;
}

.btn-CTA4-white:focus {
    color: #E11E19
}

.btn-CTA4-white:visited {
    background-color: #fff;
    border-color: #E11E19;
    color: #E11E19;
    cursor: pointer;
}

.btn-CTA4-white:active {
    background-color: #E11E19;
    border-color: #E11E19;
    cursor: pointer;
}

.btn-CTA4-white:hover {
    background-color: #E11E19;
    border-color: #E11E19;
    color: #fff!important;
    cursor: pointer;
}

.btn-CTA5-white {
    font-size: 16px;
    width: 150px;
    height: 40px;
    line-height: 36px;
    background-color: #fff;
    border-color: #E11E19;
    color: #E11E19;
    cursor: pointer;
}

.btn-CTA5-white:focus {
    color: #E11E19
}

.btn-CTA5-white:visited {
    background-color: #fff;
    border-color: #E11E19;
    color: #E11E19;
    cursor: pointer;
}

.btn-CTA5-white:active {
    background-color: #E11E19;
    border-color: #E11E19;
    cursor: pointer;
}

.btn-CTA5-white:hover {
    background-color: #fff;
    border-color: #E11E19;
    color: #E11E19!important;
    cursor: pointer;
}

/* 1.1.1. BTN MEDIA
----------------------*/
@media (max-width:992px) {
    .btn-CTA1 {
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width:1400px) {
    .btn-head-top-padding {
        padding-top: 20px !important;
    }
}

@media (min-width:1400px) {
    .btn-head-top-padding {
        margin-top: 10px !important;
    }
}

/* -------------------
2. NAVBAR
----------------------*/

.navbar-light .navbar-nav .nav-link {
    color: #212934;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #E11E19;
}

.menu a.active {
    color: #E11E19 !important;
}

.menu a:hover {
    color: #E11E19;
}

/*
@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
}
*/
.bg-menu {
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

.nav-link {
    font-size: 14px;
    font-weight: 600;
}

.nav-link:hover {
    font-size: 14px;
}

.navbar-toggler {
    padding: .25rem .5rem !important;
}

.nav-menu {
    transition: all 0.3s ease;
}

.navbar-nav .nav-link {
    position: relative;
}

/*  NAVBAR Hamburger Animation */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

/* 2.1. NAVBAR MEDIA
----------------------*/

@media (max-width: 767px) {
    .fixed-top {
        position: absolute;
        top: auto;
        padding: 10px;
    }

    .navbar-collapse {
        max-height: none;
    }
}

@media (max-width:769px) {

    .logo-width {
        width: auto;
    }

    .mobile-navbar-w100 {
        width: 100%;
    }
}

@media (max-width:991px) {
    .navbar-nav .nav-item {
        text-align: right;
    }

    .center {
        text-align: center !important;
    }
}

@media (max-width:992px) {
    .hr {
        border: 0;
        border-bottom: 1px solid #e1e7ec;
    }
}


/* -------------------
3. HEADER
----------------------*/

.shape-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f8fb;
    /*color der diagonale */
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 50%);
    z-index: -1;
}

.shape-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 67%, 100% 50%, 100% 86%, 0 96%);
    clip-path: polygon(0 67%, 100% 50%, 100% 86%, 0 86%);
    z-index: -1;
}

.custom-list-header li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}


.custom-list-header {
    position: relative;
    list-style: none;
    padding-left: 0;
    font-size: 18px;
    font-weight: 400;
    color: #282D30;
    line-height: 1.3rem;
}

.custom-list-header li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

/* 3.1. HEADER MEDIA
----------------------*/

@media (max-width: 700px) {
    .header-img-padding {
        padding-left: 1rem !important;
        padding-top: 1rem;
        padding-bottom: 0rem !important;
    }

    h1 {
        color: #212934;
        font-size: 2.4rem;
        font-weight: 400;
        letter-spacing: -0.0625rem;
        line-height: 2.5rem;
        margin-bottom: 0rem;
    }

    .header-text {
        font-size: 24px;
        font-weight: 400;
        color: #212934;
        line-height: 30px;
    }
}

.header-img-padding {
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.header-subtext {
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    color: #212934;
}

.header-text-top {
    font-size: 24px;
    font-weight: bold;
    color: #555a5f;
    margin: 0 auto;
    line-height: 80px;
}

@media (min-width: 767px) {
    .header-padding-button {
        padding-top: 70px;
    }
}

@media (max-width:769px) {

    h1 {
        font-size: 2rem;
    }

    .btn-block {
        display: block !important;
        width: 100% !important;
    }
}

@media (max-width:991px) {
    .header-text {
        font-size: 24px;
        font-weight: 300;
        line-height: 40px;
    }

    .shape-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f5f8fb;
        /*color der diagonale */
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 58%) !important;
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 58%) !important;
        z-index: -1;
    }

    .shape-left {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-clip-path: polygon(0 35%, 100% 19%, 100% 100%, 0 60%) !important;
        clip-path: polygon(0 35%, 100% 19%, 100% 100%, 0 60%) !important;
        z-index: -1;
    }
}

@media (max-width:992px) {
    .img-fluid {
        height: auto;
    }

    .btn-block {
        display: block !important;
        width: 100% !important;
    }
}

@media (max-width:1200px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width:1400px) {
    h1 {
        font-size: 1.8rem;
    }

    .header-text {
        font-size: 20px !important;
        font-weight: 400;
        color: #212934;
        line-height: 40px;
    }
}

@media (max-width:1400px) {
    .header-padding-button {
        padding-bottom: 50px;
        padding-top: 0
    }
}

.separator-top {
    margin-top: 50px
}

.header-bg {
    background-color: #dee3e8;
    /*c9f7f3   c9e2d2 */
}

header {
    text-align: left;
    color: #E11E19;
    padding-top: 75px;
}

.header-text {
    font-size: 24px;
    font-weight: 400;
    color: #212934;
    line-height: 40px;
}

.text-link {
    color: #e11e19 !important;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none !important;
    line-height: 1.2em;
}

.text-link:hover {
    color: #212934 !important;
    cursor: pointer;
    text-decoration: none !important;
    line-height: 1.2em;
}

/* -------------------
4. CARD
----------------------*/

.card-header {
    padding: .75rem 1.25rem;
    transition: all .3s ease;
    margin-bottom: 0;
    color: #212934;
    background-color: #eff1f4;
    background-image: none;
    border-color: #ced6dd;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 6px !important;
    border-color: #ced6dd !important;
    cursor: pointer !important
}

.card-header:hover {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: #fff !important;
    background-color: #e95653 !important;
    background-image: none !important;
    border-color: #fff !important;
    border-radius: 6px !important
}

.link-text-accordion {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400
}

.link-text-accordion:hover {
    color: #fff !important;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400
}

.order-text {
    font-size: 14px;
    color: #212934
}

.header-bg {
    background-color: #f8fafa
}

.white-bg {
    background-color: #fff
}

@media (max-width:769px) {
    .card-body {
        flex: 1 1 auto;
        padding: 0 !important
    }
}

@media (max-width:992px) {
    .center {
        text-align: -webkit-center
    }
}

@media (max-width:1400px) {
    .card-text {
        font-size: 16px;
        font-weight: 400;
        color: #212934;
        line-height: 1.5rem
    }
}

.link-text {
    font-size: 18px;
    white-space: normal !important;
    line-height: 1.5em !important;
    color: #e11e19;
}

.link-text:hover {
    font-size: 18px;
    white-space: normal !important;
    line-height: 1.5em !important;
    color: #555a5f;
}

.link-text16 {
    font-size: 16px;
    white-space: normal !important;
    line-height: 1.5em
}

.link-text18 {
    font-size: 18px;
    color: #E11E19;
    white-space: normal !important;
    line-height: 1.5em
}

.link-text22 {
    font-size: 22px;
    white-space: normal !important;
    line-height: 1.5em
}

.link-text14 {
    font-size: 14px;
    white-space: normal !important;
    line-height: 1.5em
}

.feature-icon {
    font-size: 45px;
    /*before display: grid !important */
}

.card-title {
    font-size: 18px;
    font-weight: 400;
    color: #212934;
    line-height: 1.6rem
}

.card-text {
    font-size: 18px;
    font-weight: 400;
    color: #212934;
    line-height: 1.5rem
}

.btnb::before {
    font-family: "Glyphicons Halflings";
    content: "\2212";
    font-size: 30px;
    float: left;
    margin-right: 5px
}

.btnb.collapsed::before {
    content: "\2b";
    font-size: 30px
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* -------------------
5. PRICE
----------------------*/

.bg-color-tab {
    background-color: #F5F7F8 !important;
}

.middel-bg {
    background-color: #dee3e8;
}

@media (min-width:1025px) {
    .button-text:hover {
        color: #e11e19 !important
    }
}

.link-text16 {
    font-size: 16px;
    white-space: normal !important
}

.modal-text {
    font-size: 24px !important;
    font-weight: 400;
    color: #212529;
    margin: 0 auto;
    line-height: 40px
}

@media (max-width:639px) {

    .comparison td,
    .comparison th {
        padding: 10px 5px
    }
}


@media (max-width:767px) {
    .tab-text {
        font-size: 18px !important;
        font-weight: 300;
        color: #212529;
        margin: 0 auto;
        line-height: 40px
    }

    .section-action {
        padding-top: 20px !important;
        padding-bottom: 70px !important
    }

    .comparison td:first-child,
    .comparison th:first-child {
        display: none
    }

    .comparison tbody tr:nth-child(odd) {
        display: table-row;
        background: #f7f7f7
    }

    .comparison td,
    .comparison th {
        border: 1px solid #dee3e8
    }

    .price-info {
        border-top: 0 !important;
        font-size: 16px
    }
}

@media (max-width:991px) {
    .tab-text {
        font-size: 18px !important;
        font-weight: 300;
        color: #212529;
        margin: 0 auto;
        line-height: 40px
    }
}

@media (min-width:992px) {
    .tab-text {
        font-size: 18px;
        font-weight: 400;
        color: #212529;
        margin: 0 auto;
        line-height: 40px
    }
}

@media (max-width:992px) {
    .tab-text {
        font-size: 18px !important;
        font-weight: 400;
        color: #212529;
        margin: 0 auto;
        line-height: 40px
    }
}

@media (max-width:1200px) {
    .compare-heading {
        font-size: 20px !important
    }
}

@media (max-width:1400px) {
    .tab-text {
        font-size: 18px !important;
        font-weight: 400;
        color: #212529;
        margin: 0 auto;
        line-height: 40px
    }
}

.tab-text {
    font-size: 18px;
    font-weight: 400;
    color: #212529;
    margin: 0 auto;
    line-height: 40px
}

.link {
    color: #212529;
    font-size: 20px;
    font-weight: 300;
    white-space: break-spaces
}

.link:hover {
    color: #212529 !important;
    cursor: pointer;
    text-decoration: none
}

.feature-header-titel {
    font-size: 24px !important;
    font-weight: 600
}

.comparison {
    text-align: center;
    padding: 0
}

.comparison table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border-bottom: 1px solid #dee3e8
}

.comparison td,
.comparison th {
    border-right: 1px solid #dee3e8;
    border-left: 1px solid #dee3e8;
    empty-cells: show;
    padding: 10px;
    /*delete background-color: #fff*/
}

.compare-heading {
    font-size: 24px;
    border-bottom: 0 !important;
    padding-top: 10px !important;
    margin-bottom: 0;
    font-weight: 700 !important;
    color: #212529;
}

.comparison tbody tr:nth-child(odd) {
    display: none
}

.comparison .compare-row {
    background: #f5f5f5
}

.comparison tr td:first-child {
    text-align: left;
    color: #212529
}

.comparison .price-info {
    padding: 5px 15px 15px 15px
}

.comparison .price-info-col {
    vertical-align: top
}

.comparison .price-now {
    color: #e11e19
}

@media (max-width:767px) {

    .comparison td:first-child,
    .comparison th:first-child {
        display: none
    }

    .comparison tbody tr:nth-child(odd) {
        display: table-row;
        background: #f7f7f7
    }

    .comparison td,
    .comparison th {
        border: 1px solid #dee3e8
    }

    .price-info {
        border-top: 0 !important;
        font-size: 16px
    }
}

@media (max-width:639px) {

    .comparison td,
    .comparison th {
        padding: 10px 5px
    }

    .compare-heading {
        font-size: 18px
    }
}

th {
    padding-right: 0 !important;
    width: 25px
}

.bg-color-tab-mobile {
    background-color: #F5F7F8 !important;
}

@media (max-width:769px) {
    .bg-color-tab-mobile {
        background-color: #fff !important;
    }
}

/* -------------------
6. Pricing
----------------------*/

@media (max-width:1400px) {
    .call-to-action-subtext {
        font-size: 32px !important;
    }
}

.card.pricing .card-head {
    text-align: center;
    padding: 40px 0 20px;
}

.card.pricing .card-head .price {
    display: block;
    font-size: 45px;
    font-weight: 700;
}

.header-text-pricing {
    font-size: 18px !important;
    font-weight: 400;
    margin: 0 auto;
    line-height: 40px;
}

.card-price-button {
    color: #333333;
    font-size: 18px;
}

.card-pricing-titel {
    color: #282D30 !important;
    font-size: 40px;
}

.card-pricing {
    color: #282D30 !important;
    font-weight: 700 !important;
}

.card-pricing-price {
    color: #282D30 !important;
    font-size: 14px;
}

.card.pricing {
    border: 1px solid #f1eef147;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
}

.card.pricing .card-head {
    text-align: center;
    padding: 40px 0 20px;
}

.card.pricing .card-head .price {
    display: block;
    font-size: 45px;
    font-weight: 700;
}

.card.pricing .list-group-item {
    border: 0;
    color: #282D30;
    font-size: 16px;
    line-height: 1.3rem;
}

.sale-box {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 130px;
    width: 143px;
    text-align: center;
    z-index: 0;
    right: 0;
    border-top-right-radius: 0.7em;
    -o-border-top-right-radius: 0.7em;
    -moz-border-top-right-radius: 0.7em;
    -webkit-border-top-right-radius: 0.7em;
}

.sale-box-jetzt {
    background: #7cb892 !important;
}

.sale-box span.on_sale {
    font-size: 18px;
    background: #96a0a5;
    color: #fff;
    padding: 39px 43px 3px 75px;
    width: 281px;
    text-align: center;
    display: block;
    position: absolute;
    left: -29px;
    top: -41px;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(40deg);
}

/* -------------------
7. FAQ
----------------------*/

@media (max-width:767px) {
    .section-contact-mobile {
        padding-top: 30px !important;
        padding-bottom: 80px !important;
    }
}

.contact-form-foot {
    padding-bottom: 157px;
}

.card-header-faq {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.btn:not(:disabled):not(.disabled) {
    text-decoration: none !important;
}

.btn-link {
    font-weight: 400;
    color: #555a5f;
    background-color: transparent;
}

.btn-link:hover {
    color: #e95653;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

/* Icon when the collapsible content is shown */

.btna::before {
    font-family: "Glyphicons Halflings";
    content: "\2212";
    font-size: 30px;
    float: left;
    margin-right: 15px;
}

/* Icon when the collapsible content is hidden */

.btna.collapsed::before {
    content: "\2b";
    font-size: 30px;
}

/* -------------------
8. CTA
----------------------*/

.call-to-action-bg {
    background-color: #555a5f;
}

.header-text-white {
    font-size: 24px;
    font-weight: 300;
    color: #fff !important;
}

/*  3. Tüv
----------------------*/

.CTA-bg {
    background-color: #1c77c3;
}

/* -------------------
9. Contact
----------------------*/

.contact-note {
    font-size: 14px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-image: url("../images/spinner.svg");
}

#loaderandroidForm {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-image: url("../images/spinner.svg");
}

#loadercontactForm {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-image: url("../images/spinner.svg");
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.1rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    color: #495057;
    background-color: lighter(#e95653, 64%);
    border-color: #e95653;
    outline: none;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    color: #868e96;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #868e96;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #868e96;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.contact-form {
    max-width: 600px;
}

.contact-form {
    max-width: 600px;
}

.contact-form-tab {
    border-radius: 0px !important;
    border: 0em;
}

.contact-form-foot {
    padding-bottom: 157px;
}

.contact-form-dropdown {
    padding-left: 9px !important;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.5rem + -5px) !important;
}

/* -------------------
10. FOOTER
----------------------*/

.bg-color {
    background-color: #212934 !important
}

.footer {
    background-color: #212934 !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}

.social-links {
    text-align: center;
}

.social-links a {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 5px;
    background: #bec8d2;
    border-radius: 50%;
}

.social-links a i {
    font-size: 18px;
    color: #fff;
    vertical-align: 0em;

}

.social-links a:hover {
    background: #E11E19;
}

.custom-list-footer {
    line-height: 1.5em;
    padding: 0;
}

.custom-list-footer li {
    list-style: none;
    position: relative;
}

.footer-list-mobile .footer-text-title {
    padding-left: 15px;
}

.footer-list-mobile .custom-list-footer {
    padding-left: 15px;
}

.footer-list-mobile .footer-text-title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    height: 5px;
    width: 5px;
    border: 1px solid #E11E19;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}

.footer-icon-cib {
    width: 110px;
}

.footer-text-title {
    font-weight: 600;
    font-size: 14px;
    color: #E11E19;
    text-decoration: none !important;
}

.footer-text li,
a {
    line-height: 2.2em;
    font-size: 14px;
    color: #96a0a5;
}

.footer-text a:hover {
    text-decoration: none;
    color: #212934;
}

.iconify {
    color: #fff;
    width: 24px;
    height: 24px;
}

/*  10B. NEWFOOTER
----------------------*/

.shfooter .collapse {
    display: inherit;
}

@media (max-width:767px) {
    .shfooter ul {
        margin-bottom: 0;
    }

    .shfooter .collapse {
        display: none;
    }

    .shfooter .collapse.show {
        display: block;
    }

    .shfooter .title .fa-angle-up,
    .shfooter .title[aria-expanded=true] .fa-angle-down {
        display: none;
    }

    .shfooter .title[aria-expanded=true] .fa-angle-up {
        display: block;
    }

    .shfooter .navbar-toggler {
        display: inline-block;
        padding: 0;
    }

}

.resize {
    text-align: center;
}

.resize {
    margin-top: 3rem;
    font-size: 1.25rem;
}

/*RESIZESCREEN ANIMATION*/
.fa-angle-double-right {
    animation: rightanime 1s linear infinite;
}

.fa-angle-double-left {
    animation: leftanime 1s linear infinite;
}

@keyframes rightanime {
    50% {
        transform: translateX(10px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(10px);
        opacity: 0;
    }
}

@keyframes leftanime {
    50% {
        transform: translateX(-10px);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-10px);
        opacity: 0;
    }
}

/*  11. COPYRIGHT
----------------------*/

.copyrigth-text {
    font-size: 14px !important;
    color: #8e919a !important;
    text-decoration: none !important;
}

.copyrigth-text-link {
    font-size: 14px !important;
    color: #8e919a !important;
    text-decoration: none !important;
}

.copyrigth-text-link:hover {
    font-size: 14px !important;
    color: #ffffff !important;
    text-decoration: none !important;
}

/*  12 To Top Button
----------------------*/

.btn-toTop {
    font-size: 30px;
    font-weight: 100;
    width: 44px;
    height: 44px;
    margin-top: 12px;
    background-color: white;
}

.btn-outline-toTop {
    color: #bec8d2;
    background-color: #fff;
    background-image: none;
    border-color: #bec8d2;
}

.btn-outline-toTop:hover {
    color: #fff;
    background-color: #bec8d2;
    background-image: none;
    border-color: #fff;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}